.verify {
    min-height: 70vh;
    display: grid;
    background-color: #f0f0f0;
}

.verify .spinner {
    width: 80px;
    height: 80px;
    place-self: center;
    border: 4px dashed #d6d6d6;
    border-top-color: #ff6f61;
    border-radius: 50%;
    animation: rotate 1.2s linear infinite;
    background-color: transparent;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
